<div class="container">
    <div class="row">
        <div class="title">
            <div class="top">
                <h1>CADASTRO DE EMBALAGENS</h1>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="con">
                    <div class="t1">
                        <mat-form-field class="input-name">
                            <mat-label>Nome da embalagem</mat-label>
                            <input matInput type="text" formControlName="nome" class="">
                            @if (form.controls.nome.value) {
                            <button type="button" matSuffix mat-icon-button aria-label="Limpar"
                                (click)="form.patchValue({nome:''})">
                                <mat-icon>close</mat-icon>
                            </button>
                            }
                        </mat-form-field>
                    </div>
                    <div class="header">
                        <div class="container-inputs">
                            <div>
                                <mat-form-field>
                                    <mat-label>Altura</mat-label>
                                    <input matInput type="number" formControlName="altura" class="input-number">
                                    @if (form.controls.altura.value) {
                                    <button type="button" matSuffix mat-icon-button aria-label="Limpar"
                                        (click)="form.patchValue({altura:''})">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    }
                                </mat-form-field>
                                <mat-form-field class="input-name">
                                    <mat-label>Largura</mat-label>
                                    <input matInput type="number" formControlName="largura" class="input-number">
                                    @if (form.controls.largura.value) {
                                    <button type="button" matSuffix mat-icon-button aria-label="Limpar"
                                        (click)="form.patchValue({largura:''})">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    }
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="input-margin-left">
                                    <mat-label>Comprimento</mat-label>
                                    <input matInput type="number" formControlName="comprimento" class="input-number">
                                    @if (form.controls.comprimento.value) {
                                    <button type="button" matSuffix mat-icon-button aria-label="Limpar"
                                        (click)="form.patchValue({comprimento:''})">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    }
                                </mat-form-field>

                                <mat-form-field class="input-margin-left">
                                    <mat-label>Peso</mat-label>
                                    <input matInput type="number" formControlName="peso" class="input-number">
                                    @if (form.controls.peso.value) {
                                    <button type="button" matSuffix mat-icon-button aria-label="Limpar"
                                        (click)="form.patchValue({peso:''})">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    }
                                    <mat-hint>Em gramas</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="container-img">
                                <img src="../../../../assets/image/img-embalagem.png" alt="">
                            </div>

                        </div>
                    </div>

                    <div class="container-empresas">
                        <p-multiSelect [options]="empresas" formControlName="empresas" optionLabel="name"
                            placeholder="Vincule a(s) empresas a esse cliente" appendTo="body" />
                    </div>

                    <div class="button-add mt-3">
                        <button mat-stroked-button color="primary" type="submit">Adicionar Embalagem</button>
                    </div>

                </div>
            </form>
        </div>
    </div>