.con {
    display: flex;
    flex-direction: column;
}

.container-nome {
    margin-top: 9px;
}

.mt {
    margin-top: 30px;
}

.container-inputs {
    display: flex;
}

.column-left {
    margin-right: 45px;
}

.container-inputs img {
    padding-bottom: 20px;
    padding-left: 30px;
    width: 250px;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-empresas {
    margin-top: -30px;
    display: inline-block;
}

.title {
    display: flex;
}

.title i {
    margin-right: 10px;
    font-size: 1.9rem;
}

.title h2 {
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
}