<div class="container">
    <div class="title">
        <i class="bx bxs-user"></i>
        <h2>Cadastro de Usuario</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="header">
                    <div class="container-nome">
                        <div>
                            <p-floatLabel>
                                <input pInputText id="nome" formControlName="nome" size="30" />
                                <label for="nome">Nome</label>
                            </p-floatLabel>
                        </div>
                        <div class="ml-input">
                            <p-floatLabel>
                                <input pInputText id="sobrenome" formControlName="sobrenome" size="30" />
                                <label for="sobrenome">Sobrenome</label>
                            </p-floatLabel>
                        </div>
                    </div>
                    <div class="container-input">
                        <p-floatLabel>
                            <input pInputText id="email" formControlName="email" size="63" />
                            <label for="email">E-mail</label>
                        </p-floatLabel>
                    </div>

                    <div class="container-input">
                        <p-floatLabel>
                            <p-password formControlName="senha" [toggleMask]="true" [inputStyle]="{'width': '573px'}"
                                [feedback]="false" />
                            <label for="senha">Senha</label>
                        </p-floatLabel>
                    </div>

                    <div class="container-input">
                        <p-floatLabel>
                            <p-password formControlName="confirmarSenha" [toggleMask]="true"
                                [inputStyle]="{'width': '573px'}" [feedback]="false" />
                            <label for="confirmarSenha">Confirmar senha</label>
                        </p-floatLabel>
                    </div>

                    <div class="container-input">
                        <p-multiSelect [options]="empresas" [(ngModel)]="selectedEmpresas"
                            [ngModelOptions]="{standalone: true}" optionLabel="name"
                            placeholder="Vincule a(s) empresas" />
                    </div>

                    <div class="container-input">
                        <p-dropdown formControlName="permissao" [options]="optionsPermissao" optionLabel="name"
                            placeholder="Selecione a permissão do usuario" optionValue="code" />
                    </div>
                </div>
                <div class="button-add">
                    <p-button label="Adicionar Usuario" [outlined]="true" severity="success" type="submit" />
                </div>
            </form>
        </div>

    </div>
</div>

<p-dialog 
    header="Cadastro Concluído!" 
    [modal]="true" 
    [(visible)]="visible" 
    [style]="{ width: '30rem' }"
    [closable]="false"
    [draggable]="false"
    [resizable]="false">

    <div class="modal-content">
        <h2 class="success-message">Seu código de recuperação foi gerado!</h2>
        <p class="instruction">
            Guarde este código com segurança. Ele será necessário para recuperar sua senha no futuro.
        </p>

        <div class="recovery-code-box">
            <span class="recovery-code">{{ recoveryCode }}</span>
        </div>

        <div class="button-group">
            <button 
                pButton 
                label="Copiar Código" 
                class="copy-button" 
                icon="pi pi-copy" 
                (click)="copiarCodigo()">
            </button>

            <button 
                pButton 
                label="Fechar" 
                icon="pi pi-times" 
                class="close-button" 
                (click)="fecharModal()">
            </button>
        </div>
    </div>
</p-dialog>