.header-embalagem{
    display: flex;
    justify-content: space-between;
}

.container-input{
    display: flex;
    margin-top: 15px;
}

.width-245px{
    width: 245px;
}

.width-300px{
    width: 335px;
}

.ml-3{
    margin-left: 20px;
}