.container-input{
    display: flex;
    margin-top: 15px;
}
.display-flex{
    display: flex;
    justify-content: center;
}


.ml-3{
    margin-left: 20px;
}

.width-275px{
    width: 275px;
}

.width-300px{
    width: 335px;
}

.width-input-small{
    width: 30%
}

.div-button-tel{
    width: 100px;
    margin-top: 20px;
}

.div-input-tel{
    width: 155px;
    margin-left: 10px;
}

.width-input-100{
    width: 70%;
}

.header-cliente{
    display: flex;
    justify-content: space-between;
}

.container-select-empresa{
    display: flex;
}

h2{
    font-size: 1.2rem;
}

