.container-inputs{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .container-inputs input{
    width: 355%
  }

  .container-inputs-tel{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .container-endereco{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .input-margin-left-end{
    margin-left: 16px;
  }

  .button-tel {
    margin-left: 22%;
    margin-right: 3%;
  }

  .width-input-small{
    width: 101%
  }

  .width-input-large{
    width: 245.7%
  }

  .container-complemento input{
    width: 99.2%;
  }

  .container-complemento{
    margin-bottom: 3%;
  }

  .button-add{
    margin-top: 3%;
  }

