.container-inputs{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .container-inputs-tel{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .container-endereco{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .input-margin-left-end{
    margin-left: 12px;
  }

  .button-tel {
    margin-left: 5px;
    margin-right: 5px;
  }

  .width-input-small{
    width: 101%
  }

  .width-input-large{
    width: 245.7%
  }

  .container-complemento input{
    width: 99.2%;
  }

  .container-complemento{
    margin-bottom: 3%;
  }

  .button-add{
    margin-top: 3%;
  }

  .title{
    display: flex;
  }
  .title i{
    margin-right: 10px;
    font-size: 1.9rem;
  }
  .title h2{
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
  }

