<app-modal-reset-senha [showModal]="showModal" (close)="fecharModal()"></app-modal-reset-senha>
<form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main">
        <div class="container">
            <div class="div-one">
            </div>
            <div class="div-two">
                <div class="component-login">
                    <div class="title">
                        <h2 class="fs-1">Bem Vindo!</h2>
                    </div>
                    <div class="inputs">
                        <div class="login">
                            <div>
                                <label for="">Email</label>
                            </div>
                            <div>
                                <p-iconField iconPosition="right">
                                    <p-inputIcon styleClass="pi pi-user" />
                                    <input type="text" pInputText size="28" formControlName="email" />
                                </p-iconField>
                            </div>
                        </div>
                        <div class="password">
                            <label for="">Senha</label>
                            <p-password formControlName="password" [toggleMask]="true" [inputStyle]="{'width': '298px'}"
                                feedback="false" />
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="link-senha" (click)="abrirModal()">
                            <a>Esqueceu a Senha ?</a>
                        </div>
                        <div class="btn-login">
                            <p-button label="Login" [raised]="true" severity="contrast" [style]="{'width': '115px'}"
                                type="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

