.flex{
  display: flex;
}

.m-l{
    margin-left: 11px;
}

.m-t{
  margin-top: 10px;
}

.m-t2{
  margin-top: 25px;
}

.m-r{
  margin: 1px
}

.footer{
text-align: end;
}

.button-tel{
  margin-right: 13.2px;
}

.title{
  display: flex;
}
.title i{
  margin-right: 10px;
  font-size: 1.9rem;
}
.title h2{
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}