<div class="toolbar">
    <i class="bx bx-menu" (click)="toggleSidebar()"></i>

    <p-overlayPanel #overlayPanel>
        <div class="menu-content">
            <a [routerLink]="'usuario/config'" [style]="{'text-decoration': 'none'}">
                <div class="menu-item">
                    <i class='bx bxs-cog'></i>
                    <span>Configurações</span>
                </div>
            </a>
            <div class="menu-item logout" (click)="logout()">
                <i class="bx bxs-log-out"></i>
                <span>Sair</span>
            </div>
        </div>
    </p-overlayPanel>

    <span class="user-name" (click)="overlayPanel.toggle($event, userNameRef)" #userNameRef>
        {{ userName }}
    </span>
</div>

<div class="sidebar" [ngClass]="{'close': isSidebarClosed}">
    <div class="logo-details">
        <i class="bx bxs-business"></i>
        @if (empresaPrincipal === 'null' || empresaPrincipal === null) {
            <span class="logo_name">Seja Bem-vindo</span>
        }@else {
            <span class="logo_name">{{empresaPrincipal}}</span>
        }
    </div>

    <ul class="nav-links">
        @for (item of menuItems; track $index) {

        @if (item.subMenu) {
        <li [ngClass]="{'showMenu': subMenuOpen[$index]}" (click)="toggleSubMenu($index)">
            <div class="iocn-link">
                <a>
                    <i [class]="item.icon"></i>
                    <span class="link_name">{{ item.title }}</span>
                </a>
                <i class="bx bx-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                @for (item of item.subMenu; track $index) {
                <li><a [routerLink]="item.route">{{item.title}}</a></li>
                }
            </ul>
        </li>
        }@else {
        <li>
            <a href="#">
                <i [class]="item.icon"></i>
                <span class="link_name">{{item.title}}</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" [routerLink]="item.route">{{item.title}}</a></li>
            </ul>
        </li>
        }
        }

        <li>
            <div class="profile-details">
                <div class="profile-content"></div>
                <div class="name-job">
                    <div class="profile_name">{{userName + ' ' + userSobrenome}}</div>
                    <div class="job">{{userPermissao}}</div>
                </div>
                <i class="bx bx-log-out" (click)="logout()"></i>
            </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <router-outlet></router-outlet>
</section>