

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.search-bar {
    width: 300px;
}

.p-input-icon-left input {
    width: 100%;
}

.empresa-dropdown {
    width: 300px;
}

.empty-message {
    text-align: center;
    font-weight: bold;
    color: #6c757d;
}

/* Estilos para Status */
.status-enviado {
    background-color: #cce5ff;
    color: #004085;
    padding: 5px 10px;
    border-radius: 5px;
}

.status-criado {
    background-color: #fff3cd;
    color: #856404;
    padding: 5px 10px;
    border-radius: 5px;
}

.status-finalizado {
    background-color: #d4edda;
    color: #155724;
    padding: 5px 10px;
    border-radius: 5px;
}