<div class="container">
    <p-confirmDialog />
    <div class="card">
        <div class="card-body">
            <div class="mt-2">
            <app-select-empresa
            (signalEmpresa)="atribuirEmpresa($event)"
            />
        </div>
        <div class="mt-2">
            <app-select-cliente 
            [empresaId]="EmpresaIdSelected"
            (clientEmit)="atribuirCliente($event)"
            />
        </div>
        <div class="mt-2">
            <app-select-produto [empresaId]="EmpresaIdSelected" (productEmit)="atribuirProduto($event)" (totalPesoEmit)="atribuirPeso($event)"/>
        </div>
        <div class="mt-2">
            <app-select-forma-pagamento (pagamentoEmit)="atribuirPagamento($event)"/>
        </div>
        <div class="mt-2">
            <app-select-envio [totalPesoProdutos]="totalPeso" [clienteId]="client?.id" [empresaId]="EmpresaIdSelected" (envioEmit)="atribuirEnvio($event)"/>
        </div>
        <div class="mt-2">
            <app-resumo-pagamento [valorTotalProduto]="valorTotalProduto" [valorEnvio]="envio" [parcela]="pagamento" (valorPedidoEmit)="atribuirValorPedido($event)"/>
        <div class="mt-4">
            <p-button (onClick)="criarPedido($event)" label="Finalizar pedido" [rounded]="true" [style]="{'border-radius': '10px'}" />
        </div>
        <div>
            <app-modal-imprimir-pedido [showModal]="showModal" (close)="fecharModal()" [pedidoInput]="pedidoFinalizado"/>
        </div>
        </div>
    </div>
</div>
    
        
